<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="{{ site.url }}" class="btn">Home</a>
  <a href="{{ site.url }}/woodworking" class="btn">Woodworking</a>
  {% if site.github_username %}
    <a href="https://github.com/{{ site.github_username }}" class="btn">
      <img src="{{ site.baseurl }}/assets/theme/GitHub-Mark-Light-32px.png" alt="GitHub" class="image">
    </a>
  {% endif %}
  {% if site.twitter_username %}
    <a href="https://twitter.com/{{ site.twitter_username }}" class="btn">Twitter</a>
  {% endif %}
  
</section>